<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>17/10/02 14:04:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@548e7350]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1123263559</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/02 14:04:30</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@548e7350]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1123263559</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/02 14:04:35</td>   <td>4941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.openAmazonNavigationPage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@548e7350]">openAmazonNavigationPage</td> 
  <td>TestNG-test=Test-method test-1@1163222715</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/02 14:04:35</td>   <td>5456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.openGoogleNavigationPage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@548e7350]">openGoogleNavigationPage</td> 
  <td>TestNG-test=Test-method test-2@1123263559</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/02 14:04:38</td>   <td>8295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelTestNg.afterMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@548e7350]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1123263559</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/02 14:04:38</td>   <td>8549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelTestNg.afterMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@548e7350]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1123263559</td>   <td></td> </tr>
</table>
