<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3b4ca">  <td>17/10/02 13:38:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelTestNg.afterMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@2e060819]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@790432700</td>   <td></td> </tr>
<tr bgcolor="a3b4ca">  <td>17/10/02 13:38:18</td>   <td>6479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelTestNg.afterMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@2e060819]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@790432700</td>   <td></td> </tr>
<tr bgcolor="a3b4ca">  <td>17/10/02 13:38:02</td>   <td>-10159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@2e060819]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@790432700</td>   <td></td> </tr>
<tr bgcolor="a3b4ca">  <td>17/10/02 13:38:12</td>   <td>314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@2e060819]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@790432700</td>   <td></td> </tr>
<tr bgcolor="a3b4ca">  <td>17/10/02 13:38:07</td>   <td>-4273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.openAmazonNavigationPage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@2e060819]">openAmazonNavigationPage</td> 
  <td>main@790432700</td>   <td></td> </tr>
<tr bgcolor="a3b4ca">  <td>17/10/02 13:38:16</td>   <td>3805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.openGoogleNavigationPage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@2e060819]">openGoogleNavigationPage</td> 
  <td>main@790432700</td>   <td></td> </tr>
</table>
